# Database Configuration (Wajib diisi untuk koneksi Drizzle ke Postgres)
DATABASE_URL=postgresql://user:password@localhost:5432/siak_lite_db

# JWT Configuration (Wajib diisi untuk keamanan token otentikasi)
JWT_SECRET=your_secret_key_here

# Server Configuration (Opsional, NestJS biasanya default ke 3000 jika tidak ada)
PORT=3000