# 1. KONFIGURASI INFRASTRUKTUR (DOCKER)
POSTGRES_USER=user_db_anda
POSTGRES_PASSWORD=password_db_anda
POSTGRES_DB=siakng_lite

# 2. KONFIGURASI APLIKASI (NESTJS)
# Pastikan user, password, dan nama db di URL ini SAMA dengan yang di atas!
DATABASE_URL=postgresql://user_db_anda:password_db_anda@localhost:5432/siakng_lite?schema=public

JWT_SECRET=rahasia_jwt_anda
PORT=3000